.content {
    margin-left: 15px;
    margin-right: 15px;
}

.content h1, .content h2 {
    font: 400 37px 'Roboto', sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
    color: #e54a1a;
    font-weight: normal;
}

body {
    color: #3e4d5c;
    direction: ltr;
    font: 400 13px 'Roboto', sans-serif;
    background: #fff;
}

section.odd{
    background: #eff0f1;
}