.split {
    margin-bottom: 52px;
}

    .split:after {
        content: '';
        display: table;
        clear: both;
    }

.split__img {
    float: left;
    padding: 10px;
    width: 110px;
}

.split__figure {
    padding: 5px 10px 10px 0;
    margin-left: 110px;
}

figcaption h2.title,
figcaption div.detail {
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

figcaption h2.title {
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 0.22222rem solid rgb(229,74,26);
    padding-bottom: 0.27778rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    figcaption h2.title strong {
        font-weight: 800;
    }

figcaption div.detail .detail-line {
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    figcaption div.detail .detail-line .box {
        padding: 6px;
        background: rgb(229,74,26);
        color: #fff;
        border-radius: 2px;
        text-transform: uppercase;
        margin-right: 8px;
        display: inline;
    }

    figcaption div.detail .detail-line i {
        color: rgb(229,74,26);
        width: 20px;
        text-align: center;
    }



.card--doctorinfo {
    height: 241px;
}

.card {
    margin-top: 20px;
    will-change: transform;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fafafa;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.16),1px 2px 8px 1px rgba(0,0,0,0.16);
}

.card--highlight:hover {
    box-shadow: 1px 6px 12px 1px rgba(0,0,0,0.16),1px 4px 20px 1px rgba(0,0,0,0.16);
}

.card__button:hover {
    cursor: pointer;
}

.card__action-bar {
    text-align: right;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 0 8px;
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    height: 52px;
    -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__button {
    border: none;
    background: transparent;
    text-transform: uppercase;
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 52px;
    color: rgb(229,74,26);
}

.card__image {
    border-radius: 50%;
}

.card__action-bar {
    left: 0;
}

@media (min-width: 768px) {
    .split__figure {
        padding: 10px 20px 20px 0px;
        margin-left: 180px;
    }

    .split__img {
        padding: 20px;
        width: 180px;
    }
}
