
.align-center {
    text-align: center;
}

.content .sub-heading {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}
    
.content .heading {
    color: #e54a1a;
    font-size: 26px;
    font-weight: 600;
}

div[class^="flow-item-left"] {
    padding-bottom: 20px;
}

div[class^="flow-row-"]:after {
        content: '';
        display: table;
        clear: both;
    }
    .flow-item-left {
        float: left;
        padding-right: 10px;
        width: 110px;
    }
    .flow-item-content {
        margin-left: 120px;
    }
    .flow-item-content:after {
        content: '';
        display: table;
        clear: both;
    }
        .flow-item-content .bullet {
            padding-top: 12px;
            float: left;
            color: #e54a1a;
            font-size: 60px;
            font-weight: 700;
        }
        .flow-item-content .content{           
            text-align: left;
        }
            .flow-item-content .content > div.text {
                margin-left: 45px;
                color: #e54a1a;
                font-size: 24px;
            }
            .flow-item-content .content > div.sub-text {
                margin-left: 45px;
                font-size: 16px;
            }
    
.flow-item-left .icon {
    width: 100%;
    height: 100px;
    border-radius: 50%;
    /*border: 3px #fff solid;*/
    background-color: #00ABD7;
    vertical-align: middle;
}

.flow-item-left .icon > img {
    width: 60%;
    padding-top: 20%;
}

hr.vertical-line {
    position: absolute;
    border-left: 2px double #00ABD7;
}

.padding-top-column {
    padding-top: 40px;
}

@media (min-width: 767px){
   .padding-top-column {
        padding-top: 0;
    }
}