/*------template------*/
.content h1, .content h2 {
    font: 400 37px 'Roboto', sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
    color: #e54a1a;
    font-weight: normal;
}

body {
    color: #3e4d5c;
    direction: ltr;
    font: 400 13px 'Roboto', sans-serif;
    background: #fff;
}

/*-------pthd------*/
.align-center {
    text-align: center;
}

.content .sub-heading {
    font-size: 16px;
}
    
.content .heading {
    color: #e54a1a;
    font-size: 26px;
    font-weight: 600;
}

.flow-row {
    margin-top: 30px;
}
.flow-item{
    padding-top: 30px;
}
.flow-item:after {
        content: '';
        display: table;
        clear: both;
    }
    .flow-item-left {
        float: left;
        padding-right: 10px;
        width: 110px;
    }
    .flow-item-content {
        margin-left: 120px;
    }
    .flow-item-content:after {
        content: '';
        display: table;
        clear: both;
    }
        .flow-item-content .bullet {
            padding-top: 12px;
            float: left;
            color: #e54a1a;
            font-size: 60px;
            font-weight: 700;
        }
        .flow-item-content .content{           
            text-align: left;
        }
            .flow-item-content .content > div.text {
                margin-left: 45px;
                color: #e54a1a;
                font-size: 24px;
            }
            .flow-item-content .content > div.sub-text {
                margin-left: 45px;
                font-size: 16px;
            }
    
.flow-item-left > img {
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.padding-top-column {
    padding-top: 40px;
}

@media (min-width: 767px){
   .padding-top-column {
        padding-top: 0;
    }
}